[Unit]
Description=Read and write data from Adafruit and SPEC  Sensors
After=bluetooth.target

[Service]
EnvironmentFile=/etc/environment
ExecStart = /usr/bin/python3 -E /home/pi/bevo_iaq/Setup/Code/log_3.py
Restart=always
RestartSec=60s

[Install]
WantedBy=bluetooth.target
