# Data Science
pandas
numpy 

# Python Sensor Libraries
adafruit-circuitpython-tsl2591
adafruit-circuitpython-sgp30
#board
pyserial

# Display
oled_text
pillow

# Sensirion libraries
sps30
scd30-i2c

#I2C tools
smbus2==0.3.0
