[Unit]
Description=Start OLED Display

[Service]
EnvironmentFile=/etc/environment
ExecStart = /usr/bin/python3 -E /home/pi/bevo_iaq/bevobeacon-iaq/display/display.py
Restart=always
RestartSec=60s

[Install]
WantedBy=bevobeacon.service