[Unit]
Description=Start OLED Display
After=bluetooth.target

[Service]
EnvironmentFile=/etc/environment
ExecStart = /usr/bin/python3 -E /home/pi/bevo_iaq/Setup/Code/display/display.py
Restart=always
RestartSec=60s

[Install]
WantedBy=bluetooth.target
