[Unit]
Description=Daemon required to have access to vpn.net

[Service]
ExecStart=/usr/bin/hamachi login
ExecStop=/bin/systemctl kill hamachi
Type=forking

[Install]
WantedBy=multi-user.target
